
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-md-square {
    width: 46px;
    height: 46px;
}

.btn-lg-square {
    width: 58px;
    height: 58px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


.btn.btn-primary {
    background-color: #007bff; /* Bootstrap Primary Color */
    color: #fff;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn.btn-primary:hover {
    background-color: red; /* Change background color to red on hover */
    color: black; /* Change text color to black on hover */
}

/*** Button End ***/


/*** Topbar Start ***/

.topbar .top-info {
    letter-spacing: 1px;
}

.topbar .top-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar .top-link a {
    margin-right: 10px;
}

#note {
    width: 500px;
    overflow: hidden;
}

#note small {
    position: relative;
    display: inline-block;
    animation: mymove 25s infinite;
    animation-timing-function: all;
}

@keyframes mymove {
    from {left: -100%;}
    to {left: 100%;}
}

/*** Topbar End ***/


/*** Navbar Start ***/
.bg-red{
    background-color: rgba(238,28,35,255);
}

.navbar .navbar-nav {   
    padding: 15px 0;
}

.navbar .navbar-nav .nav-link {
    padding: 10px;
    color: var(--bs-white);
    font-size: 14px;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color:#7f7f81;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "font awesome 5 free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: .5s;
    opacity: 1;
}

/*** Navbar End ***/


/*** Features Start ***/
.features {
    width: 100%;
    margin-top: auto;
}
/*** Features End ***/



/*** Top News Start ***/
.news-2 h3 {
    position: relative;
    margin-top: 0;
}
.news-2 h3::after {
    content: "";
    line-height: 1.3rem;
    background: var(--bs-secondary);
    position: absolute;
    width: 68%;
    top: 20%;
    transform: translateY(-50%);
    height: 1px;
    right: 0;
    opacity: 0.2;
}
/*** Top News End ***/


/*** Latest News Start ***/
.latest-news .latest-news-carousel.owl-carousel{
    position: relative;
}
.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: -65px;
    right: 70px;
    font-size: 20px;
    padding: 2px 20px;
    transition: 0.5s;
    margin-right: 10px;
    border: 1px solid var(--bs-primary);
    color: var(--bs-dark);
    border-radius: 20px;
}

.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: -65px;
    right: 0;
    font-size: 20px;
    margin-left: 10px;
    padding: 2px 20px;
    transition: 0.5s;
    border: 1px solid var(--bs-primary);
    color: var(--bs-dark);
    border-radius: 20px;
}

.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-prev:hover,
.latest-news .latest-news-carousel.owl-carousel .owl-nav .owl-next:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
    border-radius: 10px;
}
/*** Latest News End ***/


/* trending places  start */
.card{
    background-color:rgba(216, 40, 40, 0.027);
}
.trending .card {
    transition: transform 0.2s, box-shadow 0.2s;
}
.trending .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* trending places end  */




.card-hover {
    transition: transform 0.3s;
}
.card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hover-effect {
    transition: transform 0.2s ease-in-out;
}
.hover-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/*** Contact Start ***/
.contact-detail::before {
    position: absolute;
    content: "";
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(210, 243, 235, 1), rgba(230, 250, 245, .3)), url(../img/background.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
}
.contact-map {
    background: rgba(238,28,35,255);
}

.contact-form {
    background: rgba(238,28,35,255);
}

/*** Contact End ***/



/*** Footer Start ***/
.footer .short-link a,
.footer .help-link a,
.footer .contact-link a {
    transition: .5s;
}

.footer .short-link a:hover,
.footer .help-link a:hover,
.footer .contact-link a:hover {
    letter-spacing: 1px;
}

.footer .hightech-link a:hover {
    background: rgba(238,28,35,255);
    border: 0;
}
/*** Footer End ***/


/* Poster Start */
.hero-section {
    background-color: rgba(238,28,35,255);
    color: white;
    padding: 10px 0;
    height: 80vh; /* Makes the section cover the full viewport height */
    display: flex;
    align-items: center; /* Center content vertically */
}

.hero-section img {
    width: 80%;
    margin-bottom: 20px;
}

.hero-section .btn-dark {
    background-color: #000;
    border: none;
}

@media (max-width: 768px) {
    .hero-section {
        text-align: center;
        height: auto; /* Adjust height for smaller screens */
    }

    .hero-section .form-inline {
        flex-direction: column;
    }

    .hero-section .form-inline .form-control {
        margin-bottom: 2px;
    }
}
/* Poster End */

/* Video Start */
/* /* Ensures the section containing the video takes full width and centers the content */
#trailer {
    width: 100%;
    max-width: 1200px; /* Adjust max-width based on your design preference */
    margin: 0 auto; /* Center the section horizontally */
    padding: 20px; /* Add padding for spacing */
}

/* Maintains a responsive aspect ratio for the video */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000; /* Background color while the video loads */
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Makes the iframe's shadow visible on all sides */
iframe.shadow-lg {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 
                0px 7px 9px rgba(0, 0, 0, 0.07), 
                0px 9px 12px rgba(0, 0, 0, 0.06);
}

/* Video End */





/* Life Page Css Start */



/* .split {
    width: 50%;
    height: 100vh;
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
} */
/* Life Page Css End */





/* Email Page Css Start */
.header::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: var(--bs-light);
    border-radius: 22% 78% 33% 67% / 32% 0% 100% 68%;
    animation: bgMove 5s linear infinite;
    z-index: -1;
}

@keyframes bgMove {
    0%   {right: 0px;}
    50%   {right: 20px;}
    100%  {right: 0px;}
}

.header::before {
    content: "";
    position: absolute;
    bottom: -9%;
    left: -7%;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    border: 30px solid rgba(247, 71, 128, 0.05);
    background: transparent;
    animation: RotateMoveHeader 5s linear infinite;
    z-index: -1;

}

@keyframes RotateMoveHeader {
    0% {
        -webkit-transform: rotateZ(0deg) rotate(0deg) translate3d(0, 1%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) rotate(0deg) translate3d(0, 1%, 0) rotateZ(0deg);
    }
      100% {
        -webkit-transform: rotateZ(360deg) rotate(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) rotate(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
    }


    0% {bottom: 0px;}
    50%   {left: -10px;}
    75%   {bottom: 9%;}
    100%  {bottom: 0px;}
}

.hero-header {
    padding-top: 10px;
    padding-bottom: 100px;
    position: relative;
}

.hero-header::after {
    content: "";
    position: absolute;
    left: 100px;
    bottom: 100px;
    width: 58px;
    height: 50px;
    background: url(../img/sty-1.png) center center no-repeat;
    animation: RotateMoveSty-3 45s linear infinite;
    transition: 0.5s;
    z-index: -1;
    
}

@keyframes RotateMoveSty-3 {
    0%   {left: 100px;}
    40%   {bottom: -0px;}
    50%   {left: 700px;}
    70%   {bottom: 500px;}
    80%   {left: 400px;}
    95%   {bottom: -0px;}
    100%  {left: 100px;}
}

.hero-header::before {
    content: "";
    position: absolute;
    left: 100px;
    bottom: 100px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: 30px solid rgba(102, 16, 242, 0.05);
    background: transparent;
    animation: RotateMoveSty-4 45s linear infinite;
    transition: 0.5s;
    z-index: -1;
    
}

@keyframes RotateMoveSty-4 {
    0%   {left: 100px;}
    40%   {bottom: -0px;}
    50%   {left: 700px;}
    70%   {bottom: 500px;}
    80%   {left: 400px;}
    95%   {bottom: -0px;}
    100%  {left: 100px;}
}


.hero-header .rotate-img {
    position: absolute;
    top: 20px;
    left: 20px;
}

.hero-header .rotate-img .rotate-sty-2 {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 5px solid rgba(247, 71, 128, 0.1);
    background: transparent;
    animation: RotateMoveSty-2 45s linear infinite;
    transition: 0.5s;

}

@keyframes RotateMoveSty-2 {
    0%   {left: 0px;}
    40%   {top: -30px;}
    50%   {left: 500px;}
    70%   {top: 200px;}
    80%   {left: 100px;}
    95%   {top: -30px;}
    100%  {left: 0px;}
}

.hero-header .rotate-img img {
    position: relative;
    animation: RotateMove 30s linear infinite;
    z-index: -1;
}

@keyframes RotateMove {
    0%   {left: 0px;}
    50%   {left: 200px;}
    100%  {left: 0px;}
}


@media (max-width: 992px) {
    .hero-header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero-header .rotate-img img {
        margin-top: 0;
    }
}


@media (max-width: 350px){
    .hero-header .rotate-img {
        position: absolute;
        top: 5px;
       

}
}







/*** Service Start ***/
.service .service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
}

.service .service-item,
.service .service-item .service-icon,
.service .service-item a {
    transition: 0.5s;
}

.service .service-item:hover {
    background: rgba(102, 16, 242, 0.09);
    border: 1px ;
}


.service .service-item:hover .service-icon,
.service .service-item:hover a {
    background: var(--bs-white) !important;
}

.service .service-item:hover a:hover {
    background: rgba(238,28,35,255)!important;
    color: var(--bs-white);
}

/*** Service End ***/
/*** Email Page Css End ***/
